@import "/src/styles.scss";


.row {
  background-color: $oxford-blue;
  color: $cg-blue;
}

.name {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
}

.name2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.intro {
  font-size: 30px;
  font-weight: 300;
}

hr.rounded {
  border-top: 8px solid $burnt-umber
}

.jasmine-color {
  color: $jasmine;
}

.shiny-shamrock-color {
  color: $shiny-shamrock;
}

img {
  max-height: 50vh;
  max-width: 100%;
  border: solid $cg-blue 2px;
}

.picture {
  height: auto;
  border-radius: 5%;
}

.btn-primary {
  background-color: $burnt-umber;
  border-color: $jasmine;
  color: $jasmine;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    background-color: darken($cg-blue, 10%);
    border-color: darken($cg-blue, 10%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.modal-content {
  max-height: 100%;
  background-color: $oxford-blue;
}

.modal-header {
  color: $jasmine;
}

/* For screens smaller than 576px (extra small devices) */
@media (max-width: 575.98px) {
  .landing {
    margin-left: 0;
    text-align: center;
  }

  hr.rounded {
    margin-left: 0;
  }

  .picture {
    height: auto;
    width: 100vw;
  }

}

/* For screens between 576px and 991.98px (small devices) */
@media (min-width: 576px) and (max-width: 991.98px) {
  .landing {
    margin-left: 10%;
    text-align: left;
  }

  hr.rounded {
    margin-left: 10%;
  }
}

/* For screens larger than 992px (medium and up devices) */
@media (min-width: 992px) {
  .row {
    min-height: 100vh;
  }

  .col-sm:first-child {
    margin-bottom: 0;
    padding-right: 4rem;
  }

  .col-sm:last-child {
    padding-left: 4rem;
  }

  .landing {
    margin-left: 20%;
    text-align: left;
  }

  hr.rounded {
    margin-left: 20%;
  }

  #image {
    margin-right: 5rem;
  }
}
