@import "/src/styles.scss";

.container {
    font-family: $ibm-plex-sans;
}

.row {
    height: 100vh;
    background-color: $oxford-blue;
    color: $cg-blue;
}

.name {
    font-weight: 700;
    font-size: 50px;
}

.name2 {
    font-weight: 700;
    font-size: 30px;
}

.text {
    font-weight: 400;
    font-size: 24px;
}

.picture {
    max-height: 50vh;
    border-radius: 10%;
  max-width: 100%;
}

.intro {
    font-size: 22px;
    font-weight: 100;
}

hr.rounded {
    border-top: 8px solid $burnt-umber
}

.jasmine-color {
    color: $jasmine;
}

.shiny-shamrock-color {
    color: $shiny-shamrock;
}

img {
    border: solid $cg-blue 2px;
    border-radius: 2px;
}

/* For screens smaller than 576px (extra small devices) */
@media (max-width: 575.98px) {
  .landing {
    margin-left: 0;
    text-align: center;
  }

  hr.rounded {
    margin-left: 0;
  }

}

/* For screens between 576px and 991.98px (small devices) */
@media (min-width: 576px) and (max-width: 991.98px) {
  .landing {
    margin-left: 10%;
    text-align: left;
  }

  hr.rounded {
    margin-left: 10%;
  }
}

/* For screens larger than 992px (medium and up devices) */
@media (min-width: 992px) {
  .row {
    height: auto;
    min-height: 100vh;
  }

  .landing {
    margin-left: 20%;
    text-align: left;
  }

  hr.rounded {
    margin-left: 20%;
  }
}
