<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-sm text-start">
            <div class="intro landing">Hi, my name is</div>
            <div class="name landing">Derek Curry</div>
            <div class="name2 landing">{{name2}}</div>
            <hr class="rounded">
            <div class="text landing">{{aboutMe}}</div>
        </div>
        <div class="col-sm text-start">
            <img src="/assets/car.jpg" alt="" class="picture">
        </div>
    </div>
</div>