<div class="container-fluid">
  <div class="row align-items-center landing-page" data-aos="fade-right">
    <div class="col-sm text-start">
      <h1 class="intro">Hi, my name is</h1>
      <h2 class="name">Derek Curry</h2>
      <hr class="rounded" />
      <p class="text">
        {{ landing }}
      </p>
      <div class="text-center button-group">
        <a routerLink="." fragment="projects" class="btn btn-accent">View My Projects</a>
        <button type="button" class="btn btn-secondary" (click)="openModal(content)">Resume</button>
      </div>
    </div>
    <div class="col-sm text-center">
      <img src="/assets/car.jpg" alt="Derek Curry in a car" class="img-fluid picture mx-auto" />
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Resume</h4>
  </div>
  <div class="modal-body">
    <iframe src="/assets/Resume.pdf"></iframe>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
