@import "/src/styles.scss";

.container {
    font-family: $ibm-plex-sans;
}

.row {
    height: 100vh;
    background-color: $oxford-blue;
    color: $cg-blue;
}

.name {
    font-weight: 700;
    font-size: 50px;
}

.name2 {
    font-weight: 700;
    font-size: 30px;
}

.text {
    font-weight: 400;
    font-size: 24px;
}

.picture {
    max-height: 70vh;
    border-radius: 10%;
}

.landing {
    margin-left: 20rem;
}

.intro {
    font-size: 22px;
    font-weight: 100;
}

hr.rounded {
    margin-left: 20rem;
    border-top: 8px solid $shiny-shamrock;
}

.jasmine-color {
    color: $jasmine;
}

.shiny-shamrock-color {
    color: $shiny-shamrock;
}