<div class="container-fluid">
  <div class="row align-items-center landing-page" data-aos="fade-right">
    <div class="col-sm text-start">
      <h1 class="intro">Hi, my name is</h1>
      <h2 class="name">Derek Curry</h2>
      <hr class="rounded" />
      <p class="text">
        I specialize in cloud development, leveraging platforms like GCP to deploy scalable and resilient applications.
        Check out my projects to see what I've been working on.
      </p>
      <div class="text-center mb-3">
        <a routerLink="." fragment="projects" class="btn btn-accent mt-4 me-3">View My Projects</a>
        <button type="button" class="btn btn-secondary mt-4 ms-3" data-bs-toggle="modal" data-bs-target="#resumeModal">Resume</button>
      </div>
    </div>
    <div class="col-sm text-center mb-5 mt-5">
      <img src="/assets/car.jpg" alt="Derek Curry in a car" class="picture mx-auto" />
    </div>
  </div>
</div>

<!-- Modal for Resume -->
<div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="resumeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resumeModalLabel">Resume</h5>
      </div>
      <div class="modal-body">
        <iframe src="/assets/Resume.pdf" width="100%" height="600px"></iframe>
        <a href="/assets/Resume.pdf" class="btn btn-accent mt-4">Download</a>
      </div>
    </div>
  </div>
</div>
