<div class="container-fluid">
    <div class="row align-items-center h-60">
        <div class="col-sm text-center px-0">
            <p class="about mx-auto" style="font-size: 24px;">About me</p>
            <p class="about mx-auto" style="font-size: 22px;">{{about}}</p>
        </div>
        <div class="col-sm text-left">
            <div class="row">
                <div class="col-sm">
                    
                    <ul>
                        <h3>Education</h3>
                        <li>North Carolina State University - May 2025 - 3.93</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <ul>
                        <h3>Languages</h3>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>Go</li>
                        <h3>Databases</h3>
                        <li>MongoDB</li>
                        <h3>Frameworks</h3>
                        <li>Bootstrap</li>
                        <li>REST</li>
                        <li>JUnit</li>
                        <h3>Tools</h3>
                        <li>Visual Studio</li>
                        <li>Visual Studio Code</li>
                        <li>Eclipse</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>