@use 'src/app/_colors' as colors;
@use 'src/app/_defaults' as defaults;

.container-fluid {
  padding: 2rem 0;
  @media (min-width: 576px) {
    width: defaults.$container-width;
  }
  width: defaults.$sm-container-width;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  color: colors.$text-color;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.about-me, .education-skills-card {
  border-radius: defaults.$base-border-radius;
  -moz-border-radius: defaults.$base-border-radius;
  -webkit-border-radius: defaults.$base-border-radius;
  background: colors.$secondary-color;
  @media (min-width: 768px) {
    background: linear-gradient(215deg, colors.$secondary-color, colors.$card-end);
  }
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

  p, mat-card {
    font-size: 1.2rem;
    color: colors.$text-color;
    line-height: 1.4;
    margin: 0 auto;
  }

}

.skill-images-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.about-me {
  p {
    font-size: 1.1rem;
    padding: 1rem;
  }
}

.education-skills-card {
  @media (max-width: 576px) {
    margin-top: 1rem;
  }
  padding: 0;
  @media (min-width: 768px) {
    background: linear-gradient(135deg, colors.$secondary-color, colors.$card-end);
    padding-bottom: 1rem;
  }
}

hr {
  border-top: 3px solid colors.$primary-color;
  width: defaults.$max-divider-width;
  margin: 0 auto;
}

.picture {
  padding: 0;
  margin: 1rem 0;
  border-radius: defaults.$base-border-radius;
  -moz-border-radius: defaults.$base-border-radius;
  -webkit-border-radius: defaults.$base-border-radius;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3);
}

.skill-image {
  margin: 0.5rem 0.5rem;
  height: 1.5rem;
  @media (min-width: 576px) {
    height: 1.8rem;
  }
  border-radius: defaults.$base-border-radius;
  -moz-border-radius: defaults.$base-border-radius;
  -webkit-border-radius: defaults.$base-border-radius;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
}

mat-tab-group {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .about-me, .education-skills-card {
    max-width: calc((100% - 1rem) / 2);
  }
}
