<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="heading">About me</h2>
      <hr class="rounded" />
    </div>
  </div>

  <div class="row mx-md-0">
    <div class="col-12 text-center px-0">
      <img src="./assets/mountain.jpg" class="img-fluid picture" alt="Mountain">
    </div>
  </div>

  <div class="row d-flex justify-content-evenly mx-0">
    <div class="col-12 col-md-6 about-me">
      <p>{{ about }}</p>
    </div>

    <div class="education-skills-card col-12 col-md-6 px-0">
      <mat-card class="h-100">
        <mat-tab-group animationDuration="100ms">
          <mat-tab *ngFor="let category of skills" label="{{ category.label }}">
            <div class="d-flex flex-row flex-wrap justify-content-center">
              <div *ngFor="let item of category.items" class="text-center my-md-2 me-md-2">
                <img [src]="mapSkillToImage(item)" alt="{{ item }}" class="skill-image"/>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
