<div class="container">
  <div class="row align-items-center mt-md-0 mt-5" data-aos="fade-right">
    <div class="col-md-8 mx-auto mb-3 text-center">
      <h2
        class="mx-auto mb-3 jasmine-color"
        style="font-size: 3rem; font-weight: 700"
      >
        About me
      </h2>
      <hr class="rounded mb-3" />
      <p class="mb-3 mx-auto">{{ about }}</p>
      <mat-tab-group
        mat-stretch-tabs="false"
        mat-align-tabs="start"
        animationDuration="300ms"
        class="mx-auto"
        style="max-width: 42rem"
      >
        <mat-tab label="Education">
          <ul class="mt-3">
            <li>North Carolina State University - May 2025</li>
            <li>Major GPA: 4.0</li>
            <li>Dean's List</li>
          </ul>
        </mat-tab>
        <mat-tab label="Languages">
          <ul class="mt-3">
            <li>JavaScript</li>
            <li>Java</li>
            <li>Go</li>
            <li>C/C++</li>
            <li>HTML/CSS</li>
          </ul>
        </mat-tab>
        <mat-tab label="Frameworks">
          <ul class="mt-3">
            <li>Kubernetes</li>
            <li>OpenAPI</li>
            <li>Prometheus</li>
            <li>Node.js</li>
            <li>Angular</li>
            <li>Bootstrap</li>
            <li>RESTful API</li>
            <li>JUnit</li>
            <li>MongoDB</li>
          </ul>
        </mat-tab>
        <mat-tab label="Developer Tools">
          <ul class="mt-3">
            <li>Git</li>
            <li>Docker</li>
            <li>Google Cloud Platform</li>
            <li>Visual Studio</li>
            <li>Visual Studio Code</li>
            <li>Eclipse</li>
            <li>JetBrains Tools</li>
          </ul>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
