<div class="container-fluid">
  <section class="row" data-aos="fade-right">
    <div class="col-12">
      <h1 class="text-center mb-3">Experience</h1>
      <hr class="rounded" />
    </div>
  </section>

  <div *ngFor="let experience of experiences" class="experience-card d-flex flex-column flex-md-row align-items-center" data-aos="fade-right">
    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
      <a href="{{ experience.companyWebsite }}" target="_blank" rel="noopener noreferrer">
        <img [src]="experience.imageLink" alt="{{ experience.company }}" class="img-fluid experience-image"/>
      </a>
    </div>

    <div class="col-12 col-md-8 d-flex flex-column information">
      <div class="row">
        <div class="col-6 text-start">
          <h3 class="experience-company">{{ experience.company }}</h3>
        </div>
        <div class="col-6 text-end">
          <p class="experience-location">{{ experience.location }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-start">
          <p class="experience-title">{{ experience.title }}</p>
        </div>
        <div class="col-6 text-end">
          <p class="experience-date">{{ experience.date }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-center justify-content-md-center">
          <div *ngFor="let skill of experience.skills" class="skill-image-container">
            <img [src]="mapSkillToImage(skill)" alt="{{ skill }}" class="skill-image"/>
          </div>
        </div>
      </div>

      <div class="row">
        <ul class="information-list">
          <li *ngFor="let info of experience.information">{{ info }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
