<div class="container mb-5">
  <section class="row" data-aos="fade-right">
    <h1 class="mx-auto text-center mb-3 display-4 display-md-1">Projects</h1>
    <hr class="rounded mb-3">
    <h3 class="mx-auto text-center mb-3">Things I've worked on</h3>
  </section>

  <div class="row mb-3" data-aos="fade-right">
    <div class="col-sm my-auto">
      <h3>Pathfinding Visualization</h3>
      <h5>
        Pathfinding Visualization is a fast and efficient web application that allows users to visualize pathfinding
        algorithms. With this application, users can place walls, move the start and end nodes, and see the algorithm
        process in action. What makes Pathfinding Visualization unique is that it is built in Go using WebAssembly,
        which makes it faster and more efficient than other similar applications.
      </h5>
      <div class="text-center mt-4">
        <a class="me-3" href="https://github.com/djcurr/Pathfinding-Visualization" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faSquareGithub" size="3x"></fa-icon>
        </a>
        <a class="ms-3" href="https://djcurr.github.io/Pathfinding-Visualization/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faWindowMaximize" size="3x"></fa-icon>
        </a>
      </div>

    </div>
    <div class="col-sm text-center my-auto">
      <a href="https://djcurr.github.io/Pathfinding-Visualization/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/pathfinder.png" alt="" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="row mb-3" data-aos="fade-right">
    <div class="col-sm my-auto">
      <h3>WisdomBots</h3>
      <h5>
        A web service allowing users to purchase cryptocurrency trading bots with cryptocurrency.
        The service also provided instructional videos, frequently asked questions, and an affiliate system.
        The website was implemented with Bootstrap and used my cryptocurrency transaction handler.
      </h5>
      <div class="text-center mt-4">
        <a class="me-3" href="https://github.com/djcurr/WisdomBots" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faSquareGithub" size="3x"></fa-icon>
        </a>
        <a class="ms-3" href="https://djcurr.github.io/WisdomBots/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faWindowMaximize" size="3x"></fa-icon>
        </a>
      </div>
    </div>
    <div class="col-sm text-center my-auto">
      <a href="https://djcurr.github.io/WisdomBots/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/wisdombots.png" alt="" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="row mb-3" data-aos="fade-right">
    <div class="col-sm my-auto">
      <h3>Cryptocurrency Transaction Handler</h3>
      <h5>
        Cryptocurrency Transaction Handler is a robust and versatile web application that allows users
        to pay for products using cryptocurrency. With this application, users can pay for products using
        cryptocurrency, and once the payment is verified, a license key is generated and sent to the user.
        Cryptocurrency Transaction Handler is built using a variety of technologies,
        including Go, GoEthereum, MongoDB, HTML, CSS, Gin Web, Bootstrap, and jQuery
      </h5>
      <div class="text-center mt-4">
        <a href="https://github.com/djcurr/WisdomBots/tree/master/transactionHandler" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faSquareGithub" size="3x"></fa-icon>
        </a>
      </div>
    </div>
    <div class="col-sm text-center my-auto">
      <a href="https://github.com/djcurr/WisdomBots/tree/master/transactionHandler" target="_blank" rel="noopener noreferrer">
        <img src="/assets/transaction-handler.png" alt="" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="row mb-3" data-aos="fade-right">
    <div class="col-sm my-auto mx-auto">
      <h3>Automated Cryptocurrency Trading</h3>
      <h5>
        Automated Cryptocurrency Trading is a program that executes cryptocurrency trades based on market indicators.
        With this program, users can take advantage of advanced algorithms
      </h5>
      <div class="text-center mt-4">
        <a href="https://github.com/djcurr/BotLife" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faSquareGithub" size="3x"></fa-icon>
        </a>
      </div>
    </div>
    <div class="col-sm text-center my-auto">
      <a href="https://github.com/djcurr/BotLife" target="_blank" rel="noopener noreferrer" class="img-fluid">
        <img src="/assets/bot.png" alt="">
      </a>
    </div>
  </div>

  <div class="row mb-3" data-aos="fade-right">
    <div class="col-sm my-auto mx-auto">
      <h3>Tesla Rebuild</h3>
      <h5>
        I began an ambitious project to restore a heavily damaged Tesla,
        which has given me an intricate understanding of electric vehicle
        components and systems. Tackling challenges without the aid of high-end
        equipment, I honed my problem-solving skills through extensive frame repair,
        body work, electrical troubleshooting, and software issue resolution.
        This hands-on experience has provided me with invaluable insights into the
        inner workings of electric vehicles and a deep appreciation for their complexity.
        Currently a Work-In-Progress.
      </h5>
      <div class="text-center mt-4">
        <a href="https://photos.app.goo.gl/tm9LPLZsxsRMwaPS9" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faWindowMaximize" size="3x"></fa-icon>
        </a>
      </div>
    </div>
    <div class="col-sm text-center my-auto">
      <a href="https://photos.app.goo.gl/tm9LPLZsxsRMwaPS9" target="_blank" rel="noopener noreferrer" class="img-fluid">
        <img src="/assets/car1.jpg" alt="">
      </a>
    </div>
  </div>
</div>
