@use 'src/app/_colors' as colors;
@use 'src/app/_defaults' as defaults;

.container-fluid {
  padding: 2rem 0;
  @media (min-width: 576px) {
    width: defaults.$container-width;
  }
  width: defaults.$sm-container-width;
}

.project-card {
  @media (min-width: 576px) {
    background: linear-gradient(315deg, colors.$secondary-color, colors.$card-end);
  }
  background-color: colors.$secondary-color;
  border-radius: defaults.$base-border-radius;
  -moz-border-radius: defaults.$base-border-radius;
  -webkit-border-radius: defaults.$base-border-radius;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 2rem;

  h3, p {
    color: colors.$text-color;
  }

  h3 {
    margin: 0;
  }

  p {
    line-height: defaults.$line-height;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .project-details, .project-image {
    text-align: center;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;

    .skill {
      @media (min-width: 576px) {
        margin: 0.2rem;
      }
      margin: 0.1rem;
    }
  }

  .project-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  img, .skill-image {
    max-height: 20rem;
    border-radius: defaults.$base-border-radius;
    -moz-border-radius: defaults.$base-border-radius;
    -webkit-border-radius: defaults.$base-border-radius;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
  }

  .skill-image {
    height: 1.3rem;
    @media (min-width: 576px) {
      height: 1.5rem;
    }
  }
}

.project-image {
  @media (max-width: 576px) {
    margin-top: 1rem;
  }
  @media (min-width: 576px) {
    padding: 1rem 1rem;
  }
}

h1 {
  font-weight: bold;
  color: colors.$text-color;
}

a {
  color: colors.$accent-color;

  &:hover, &:focus {
    color: darken(colors.$accent-color, 10%);
  }
}

.rounded {
  border-top: 3px solid colors.$primary-color;
  margin-left: auto;
  margin-right: auto;
  max-width: defaults.$max-divider-width;
}

@media (max-width: 575.98px) {
  .project-card {
    flex-direction: column;
  }
}
