@import "/src/styles.scss";

.container {
    font-family: $ibm-plex-sans;
    background-color: $oxford-blue;
    color: $cg-blue;
}

h1 {
    color: $jasmine;
}

div.row {
    border: solid $cg-blue 2px;
    border-radius: 8px;
}

hr.rounded {
  border-top: 8px solid $burnt-umber
}

img {
  max-height: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* For screens smaller than 576px (extra small devices) */
@media (max-width: 575.98px) {
  div.row {
    margin: 1rem;
  }

  h3, h5 {
    margin-top: 1rem;
    text-align: center;
  }
}

