<div class="container-fluid px-0">
  <section class="row" data-aos="fade-right">
    <div class="col-12">
      <h1 class="text-center mb-3">Projects</h1>
      <hr class="rounded" />
    </div>
  </section>

  <!-- Adding responsive classes to change flex direction based on screen size -->
  <div *ngFor="let project of projects" class="mb-5 project-card d-flex flex-column flex-md-row align-items-center" data-aos="fade-right">

    <div class="col-12 col-md-6 d-flex flex-column">
      <h3 class="text-center mt-auto">{{ project.title }}</h3>
      <div class="row px-0 mx-0">
        <div class="col-12 d-flex px-0">
          <div *ngFor="let skill of project.skills" class="text-start my-0 me-md-2">
            <img [src]="mapSkillToImage(skill)" alt="{{ skill }}" class="skill-image my-0"/>
          </div>
        </div>
      </div>
      <p class="text-left mt-2 mb-3">{{ project.description }}</p>
      <div class="d-flex justify-content-center align-items-center mt-3 mt-md-0">
        <a *ngIf="project.githubUrl" href="{{ project.githubUrl }}" class="icon-link me-3" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faSquareGithub" size="3x"></fa-icon>
        </a>
        <a *ngIf="project.liveUrl" href="{{ project.liveUrl }}" class="icon-link ms-3" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faWindowMaximize" size="3x"></fa-icon>
        </a>
      </div>
    </div>

    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center mt-3 mt-md-0">
      <a href="{{ project.liveUrl || project.githubUrl }}" target="_blank" rel="noopener noreferrer">
        <img [src]="project.imageUrl" alt="{{ project.title }}" class="img-fluid"/>
      </a>
    </div>
  </div>
</div>
