@use 'src/app/_colors' as colors;
@use 'src/app/_defaults' as defaults;

.container-fluid {
  padding: 0;
  @media (min-width: 576px) {
    width: defaults.$container-width;
  }
  width: defaults.$sm-container-width;
}

h1, h2 {
  margin: 0;
  color: colors.$text-color;
}

.icon {
  padding: 0 0.5rem;
}

.icons-row {
  padding: 2rem 0;
}

a {
  color: colors.$accent-color;
  text-decoration: none;
}

hr {
  border-top: 3px solid colors.$primary-color;
  margin: 0.5rem auto;
  max-width: 30%;
}
