<div class="container-fluid">
  <div class="row align-items-center my-5" data-aos="fade-right">
    <div class="col-md">
      <h1 class="text-center jasmine-color">Get in touch</h1>
      <hr class="rounded mb-3">
      <a href="mailto:djcurry@ncsu.edu">
        <h2 class="text-center mb-0">djcurry&#64;ncsu.edu</h2>
      </a>

    </div>
    <div class="col-md-auto text-center my-3">
      <a href="https://github.com/djcurr" class="me-3 opacity-50" style="display: inline-block;">
        <fa-icon [icon]="faSquareGithub" size="2x"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/derekcurryncsu/" class="ms-3 opacity-50" style="display: inline-block;">
        <fa-icon [icon]="faLinkedinIn" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</div>
