@use 'src/app/_colors' as colors;

.container-fluid {
  //background-color: colors.$background-color;
  color: colors.$primary-color;

  h1, h2 {
    color: colors.$text-color;
  }

  hr.rounded {
    border-top: 3px solid colors.$primary-color;
    margin-left: auto;
    margin-right: auto; // Center the line
    max-width: 30%; // Adjust the width to match the content
  }
}

a {
  color: colors.$accent-color;
  text-decoration: none;
}
