///* SCSS HSL */
$background-color: linear-gradient(to right, #7a9bae, #899da4);
$primary-color: #34678a;
$secondary-color: #495867;
$accent-color: #EBB56F;
$text-color: #dee0e3;
$light-text-color: #000000;
$card-end: #1d2630;
