///* SCSS HSL */
$background-color: linear-gradient(to right, #7a9bae, #899da4);
$primary-color: #34678a; // A deep blue/teal
$secondary-color: #495867; // A navy/dark grey
$accent-color: #EBB56F; // A softer coral for a pop of color
$text-color: #dee0e3; // A soft white/light grey for text
$light-text-color: #000000; // For text on light background
$card-end: #1d2630;
